h1{
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-weight: 100px;
    font-size: 40px;
    letter-spacing: 20px;
    text-decoration: underline;
    text-decoration-color: plum;
    text-decoration-style: wavy; 
};
